*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#body-home{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    box-sizing: border-box;
}
.topmenu-wrap{
  width: 100%;
  height: 50px;
  margin-top: 0;
  position: relative;
  display: fixed;
}
#topmenu{
    position: fixed;
    width: 100%;
    height: 90px;
    /* border-bottom: solid 2px gray; */
    box-shadow: 0px 7px 7px 0px rgb(182, 181, 181) ;
    background-color: #88C273;
    display: grid;
    grid-template-columns: 30% 70% ;
    column-gap: 10px;
    top:0;
    z-index: 10000000000000000;
    color: #FFF1DB;
}
.hidden{
   display: none !important;
}
#topmenu .logo-bola{
    
    font-size: 30px;
    color: #FFF1DB;
   
    width: 600px;
    height: 50px;
    margin: 12px 14px;
    margin-top: 6px;
    display: flex;
    text-align: center;
    justify-content: center;
    float: left;
    left: 35%;    
    position: relative;
    
}
#topmenu .logo-bola a{
    
    font-size: 30px;
    color: #FFF1DB;
    display: flex;
    text-decoration:none;
    text-align:center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    gap: 10px; 
    
}
#topmenu .logo-bola img {
  width: 80px;
  height: 80px;
}
#topmenu .menu{
    float: right;
    list-style: none;
    display: flex;
    margin-top: 0;
    z-index: 10;
    justify-content: center;
    color: #FFF1DB;
    width: 700px;
    margin-left: 200px;
    /* position: relative; */
    right: -25%;
    gap:30px;
}
#topmenu .menu .submenu {
display: none;
}
#topmenu .menu .option li:hover .submenu {
  display: block;
  position: absolute;
  background: #88C273;
  margin-top: 5px;
  margin-bottom: -15px;
}
#topmenu .menu .option li:hover .submenu ul
{
  display: block;
  margin: 0px;
  padding: 0px;
}
#topmenu .menu .option li:hover .submenu ul li{
  width: 200px;
  text-align: left;
  border-bottom: dotted 1px #f4f4f4;
  background: transparent;
  border-radius: 0;
  padding: 5px;
  margin: 0px;
  

}
#topmenu .option a{
  text-decoration: none;
  font-size: 16px;
  color: rgba(0, 0, 0,0.7);
}
.content-item p{
  margin-top: 20px;
}
.cart-count{
  background-color: #FFF1DB;
  border-radius: 50%;
  color: red;
  width: 15px;
  height: 15px;
  display: inline-block;
  
}
#topmenu .option{
    list-style: none;
    width: 120px;
    height: 30px;
    color: #FFF1DB;
    margin-left: 20px;
    margin: 12px 14px;
    text-align: center;
    padding-top: 3px;
}
#topmenu .option li{
  width: 100%;
  height: 100%;
  color: #FFF1DB;
}#topmenu .option li a{
  color: #FFF1DB;
}
#topmenu .option:hover{
  color: purple;
  cursor: pointer;
  border-bottom: solid 3px purple;
}
#topmenu .option:active{
  color: purple;
  border-bottom: solid 3px purple;
}
#topmenu .user-icon{
    
}
.user-icon .avt{
  width: 40px;
    height: 40px;
    border: solid 2px rgb(157, 157, 157);
    border-radius: 50%;
    /* background-color: rgb(157, 157, 157); */
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    margin-left: 20px;
    float: right;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
/*menu đa cấp*/
.menu .sub-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  height: fit-content;
  margin-top: 30px;
}
.hide {
  display: none;
}
.menu .option#cart:hover .sub-menu {
  display: block;
}
.menu .user-icon:hover .sub-menu{
  display: block;
}
.menu .sub-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu .sub-menu ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}
.content-item a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}
.menu .sub-menu ul li a:hover {
  background-color: #f0f0f0;
}
/*hết menu*/
.menu-toggle {
  display: none; /* Ẩn nút toggle trên màn hình lớn */
}

@media only screen and (max-width: 600px) {
  .menu {
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #fff;
      z-index: 1;
      display: none; /* Ẩn menu trên màn hình nhỏ */
  }

  .menu.open {
      display: flex; /* Hiển thị menu khi có lớp open */
  }

  .menu-toggle {
      display: block; /* Hiển thị nút toggle trên màn hình nhỏ */
  }

  .option, .cart {
      margin: 0; /* Reset margin */
  }

  .cart {
      border-top: 1px solid #ccc;
      padding-top: 10px;
  }
}
*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
  }
  
  body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #D4BDAC;
    align-items: start;
    min-height: 100vh;
  }
  
  .footer {
    z-index: 100000000;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #FFF1DB;
    background-color: #88C273;
    border-top: 1px solid #e5e5e5;
  }
  .footer li a {
    color:  #FFF1DB;
  }
  .footer__addr address{
       color:  #FFF1DB;
  }
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
     color: #FFF1DB;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #FFF1DB;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
    flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }

#banner{
  width: 70%;
  height: 600px;
  margin: 0 auto;
  background-color: #999;
  margin-top: 50px;
  display: block;
}
.background_transfer_container{
  transition: all 0.25s ease-in-out;
  width: 1400px;
  max-width: 100vw;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.background_transfer{
  position: absolute;
  height: 100%;
  display: flex;
  width: max-content;
  transition: all 0.5s ease-in-out;
}
.background_transfer img{
  border-radius: 20px;
  overflow: hidden;
  width: 1400px;
  max-width: 100vw;
  height: 700px;
  object-fit: cover;
}
.background_transfer_button{
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.background_transfer_button button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}
.content-title{
  width: 80%;
  height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 70% 15% 15%;
  column-gap: 12px;

}
.dots{
  position: absolute;
  bottom: 10px;
  color: #ccc;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 20px;
  margin:20px;
  transition: all 0.5s ease-in-out;
}
.dots li.active{
  width: 20px;
  background-color: #f0104c;
}
.dots li:hover{
  cursor: pointer;
}
.filter-btn{
  
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  
  height: 40px;
}
.arrange-btn{
  padding: 10px;
  text-align: center;
  height: 40px;

  list-style: none;
  
  display: inline-block;
  
  position: relative;
  text-decoration: none;
  text-align: center;
  z-index: 10000;
  
}

.angle-down{
  width: 20px;
  height: 20px;
  float: right;
  
}
.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.content-container{
  
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Số lượng cột sẽ tự động thay đổi */
    column-gap: 33px;
    padding: 30px;
    background-color: #fff;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 40px;
    border-radius: 20px;
    float: right;
    position: relative;
    transition: transform 0.5s ease;
  
}
@media only screen and (max-width: 768px) {
  .content-container {
    grid-template-columns: repeat(1, 1fr); /* Chỉ còn một cột trên màn hình nhỏ */
    padding: 15px; /* Giảm padding */
    margin-right: 20px; /* Giảm margin */

  }
}
.content-item{
  border: solid 1px #999;
  border-radius: 10px;
  height: 400px;
  margin-top: 14px;
}
.content-item .product-image{
  width: 90%;
  height: 270px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #999;
  margin-top: 12px;
}
.content-item h3{
  padding: 10px;
  height: 20px;
}
.content-item  img{
  width: 100%;
  height: 100%;
}
.content-item p{
 
  padding: 10px;
  margin-bottom: 14px;
}
.page-segment{
  bottom: 0px;
  float: right;
  width: 100px;
  height: 30px; 
  margin: 0 auto;
  padding: 5px;
  background-color: none;
  text-align: center; 
  justify-content: center;
  position: absolute;
  left:45%;
}.page-segment li{
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  justify-items: center;
  justify-self: center;
  border: 1px solid rgba(0, 0, 0,0.4);
  background-color: rgba(255, 143, 197,0.25);
  margin: 4px;
}
.page-segment li a{
  text-decoration: none;
  box-sizing: border-box;
  
  height: 20px;
  margin-top: 20px;
  font-size: 25px;
}
.search-bar{
  width: 150px;
  height: 20px;
  position: relative;
  margin-top: 14px;
  border-radius: 10px;
  margin-left: 15px;
  display: block;

}
.search-bar-header {
  width: 200px;
  height: 30px;
  margin-top: 25px;
  border-radius: 10px;
  margin-left: 15px;
  font-size: 24px;
  margin-right: 10px;
}
.ti-search{
  top:10px;
  float:right;
}
.filter-button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 25px;
  height: 30px;
}
input[type="search"]{
  width: 100%;
  padding: 0 1.6em;
  border-radius: 10px;
}
input[type="search"]:focus{
  border: solid 2px purple;
}
.min-price , .max-price{
  padding: 20px;
  margin: 20px;
}
.mucgia{
  width: 90px;
  padding: 5px;
  display: inline-block;
  
}
.arrange-btn ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
    padding: 10px 12px;
    text-decoration: none;
    
}
li a {
  text-decoration: none;
  color: black;
  }
li a:hover{
  color: purple;
}
.arrange-btn:hover > ul,
ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}
ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}
ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid purple;
  transition: all 0.3s ease;
}

li:hover {
  cursor: pointer;
}
.filter-tool{
  width: 18%;
  height: 800px;
  padding: 30px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  border-radius: 20px;
  justify-content: center;
  float: left;
  display: none; 
  align-items: center;
  opacity: 0;
  transform: translateY(20px); /* Dịch form xuống 20px */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Tạo hiệu ứng */
}
.filter-tool.show {
    display: block; /* Đảm bảo form hiện */
    opacity: 1;
    transform: translateY(0); /* Di chuyển về vị trí ban đầu */
}
.filter-tool h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

/* Style cho thanh phân cách */
.filter-tool hr {
    border: 0;
    border-top: 1px solid #eee;
    margin-bottom: 20px;
}

/* Style cho input tìm kiếm */
.filter-tool .search-bar {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style cho tiêu đề nhóm */
.filter-tool h4 {
    margin: 15px 0 8px;
    color: #444;
    font-weight: 500;
}

/* Style cho checkbox và nhãn */
.filter-tool input[type="checkbox"] {
    margin-right: 8px;
}

.filter-tool label {
    font-size: 14px;
    color: #333;
}

/* Style cho input số */
.filter-tool input[type="number"] {
    width: 45%;
    padding: 6px;
    margin-right: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

/* Style cho nút tìm kiếm */
.filter-tool .btn-timkiem-nangcao {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-tool .btn-timkiem-nangcao:hover {
    background-color: #45a049;
}
@media only screen and (max-width: 768px) {
  .filter-tool {
    width: 80%; 
    height: 500px;/* Chiếm toàn bộ chiều rộng */
    margin: 0 auto; /* Căn giữa theo chiều ngang */
    
    margin-bottom: 0px; /* Thêm margin bottom */
    float: none; /* Bỏ thuộc tính float */
    position: relative; /* Đặt vị trí là tương đối */
    
    display: block; /* Hiển thị phần filter-tool */
  }
}
input[type="submit"]{
  width: 50px;
  padding: 5px;
  /* height: 30px; */
  background-color: purple;
  color: #fff;
  border-radius: 10px;
}
input[type="submit"]:hover{
  background-color: palevioletred;
}
.filter-tool input[type="button"]{
  width: 50px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border-radius: 10px;
  margin-left: 20px;
}
input[type="button"]:hover{
  background-color: purple;
  color: #fff;
}
.anhhai{
  opacity: 1;
  transition: all 0.25s ease-in-out;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.baophuallcai {
  display: flex;
}
.baophuallcai .home-item{
  margin-right: 20px;
}
.home-item{
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 20px;
  border-radius: 5px;
  background-image:linear-gradient(#88C273,#bcc1cf);
  color: #FFF1DB;
  border: white solid 3px;
}
.home-item i{
  color: rgb(241, 241, 241);
  font-size: 45px;
  margin-right: 20px;
  line-height: 90px;
}
.home-item p{
  font-size: 15px;
  margin-top: -7px;
}
